<!DOCTYPE html>
<html>
<head>
    <title>voice app helper</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

	<style>

        /* using a custom font */
        @font-face{
            font-family: CaviarDreams;
            src: url(/CaviarDreams.ttf);
        }

        body{
            font-family: CaviarDreams;
            font-size: 16px;
            font-weight: bold;
        }

        /*  most outer div
            this takes up the entire body  */
        #page-container{
            position: relative;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
        }

        /* horizontal centering */
        .center{
            margin: auto;
            width: 50%;
        }

        /*  inner div background
            to turn into circle   */
        #square{
            opacity: 0;
            width: 500px;
            height: 500px;
            background: #7bc3ae;
        }

        /* text alignment for header */
        h1, h3{
            text-align: center;
        }

        /* vertical centering */
        .middle-div {
            position: relative;
            top: 48.5%;
            -webkit-transform: translateY(-55%);
            -ms-transform: translateY(-55%);
            transform: translateY(-55%);
        }

        /*
            -- visibility vs display --

            visibility: hidden
                takes up space

            display: none
                does not take up space

            opacity
                can "hide" but still select
                                             */
        #form{
            visibility: hidden;
            opacity: 0;
        }


        input[type=text] {
            width: 80px;
            box-sizing: border-box;
            border-radius: 30px;
            font-size: 16px;
            border: none;
            background-color: #8fe1ca;

            background-position: 5px 7px;
            background-repeat: no-repeat;

            /* css shorthand: top, right, left, bottom */
            padding-top: 10px;
            padding-right: 10px;
            padding-left: 10px;
            padding-bottom: 10px;

            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }
        input[type=text]:focus {
            width: 120px;
        }

        input:focus{
            outline: none;
        }

        .button{
            border-radius: 30px;
            border: none;
            background: #8fe1ca;
            padding-top: 10px;
            padding-right: 10px;
            padding-left: 10px;
            padding-bottom: 10px;
        }

        #error{
            left: -10px;
            opacity: 0.0;
        }

    </style>
</head>

<body>


<div id="page-container">
    <div id="square" class="center">

        <div id="form" class="middle-div text-center">
            <h1>login screen</h1>


            <h3>Enter your email:</h3>
            <input type="text" id="email" placeholder="email...">
            <label for="email"></label>
            <input type="submit" id="validate-email" class="button">
        </div>

        <div class="middle-div text-center" id="error"></div>


    </div>
</div>





<script src="/javascripts/jquery-3.1.1.js"></script>
<script src="/javascripts/jquery.transform.js"></script>
<script>
	$(document).ready(function(){

		// upon document loaded
		// check for session, yes >> go to dashboard
		// works - March 29
		$.get("http://localhost:3000/check-session", {}, function(data){
			if(data === 'exists'){
				window.location.replace("http://localhost:3000/dashboard");
			}
		});

        // todo: animate html elements / css
        /**
         * init:
         *  set square to be small (~70 px)
         *  hide it
         *  place at bottom of screen
         *  opacity = 0 (do 50 for testing)
         *
         * animate:
         * 0 - 0.75s
         *  make square visible
         *  key opacity = 0 (still hidden, but now selectable)
         *  key rotation 180 degrees
         *  key position to center of screen
         *  opacity = 100 (completely visible)
         *
         *  try to smooth transition (slow down near finish)
         *
         * 0.75 - 1.5s
         *  make form visible (this will have its own animation)
         *  at same time, turn square to circle
         */

        var screenWidth = $(window).width();
        var screenHeight = $(window).height();

        var squareKeyframe0 = screenHeight * 0.7;
        var squareKeyframe1 = screenHeight * 0.42 - 50;
        var hovered = false;

        /** --- code for animations --- */

        $("#square").css({
            "opacity": "0.0",
            "margin-top": squareKeyframe0,
            "width": "90px",
            "height": "90px",
            "transform": "rotate(-50deg)"
        }).delay(200).animate({
            marginTop: squareKeyframe1,
            opacity: "1.0",
            transform: 'rotate(0deg)'
        }, 800, "swing").hover(function(){
            if(!hovered){
                hovered = true;
                $(this).animate({
                    width: "400px",
                    height: "400px",
                    borderTopLeftRadius: 300,
                    borderTopRightRadius: 300,
                    borderBottomLeftRadius: 300,
                    borderBottomRightRadius: 300,
                    marginTop: squareKeyframe1 - 150
                }, 400, "swing");

                $("#form").delay(350).css({
                    "visibility": "visible",
                    "left": "-10px",
                    "opacity": "0.0"
                }).animate({
                    opacity: "1.0",
                    left: "0px"
                }, 400, "swing");
            }
        });


        var errorFlag = true;

		// when the submit button is clicked
		// validate the email on the server and go to the dashboard
		$("#validate-email").click(function(){
			var email = $("#email").val();
			$.get("http://localhost:3000/validate-email", {
				email: email
			}, function(data){
				if(data === 'valid'){

					// session will be setup for the user
					window.location.replace("http://localhost:3000/dashboard");
				}else{

					// error message if invalid email
					$("#error").html(data);
                    if(errorFlag == true){
                        $("#error").animate({
                            left: "+=10",
                            opacity: 1.0
                        }, 400, function(){});
                        errorFlag = false;
                    }
				}
			});
		});
	});

</script>

</body>
</html>
